/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/


:root {
	/* Medidas de media querys */
	--table-width: 768px;
	--desktop-width: 1024px;
	--large-desktop-width: 1400px;

	/* ==> Colores <== */
	--grey-100: #8E8E93;
	--grey-200: #636366;
	--grey-300: #48484A;
	--grey-400: #3A3A3C;
	--grey-500: #2C2C2E;
	--grey-600: #1C1C1E;
	--title-color: #FBFBFB;
	--text-color: #eff3f5;
	

	/* ==> Primary color <== */
	
	--primary-color: #1192EE;
	--primary-color-hover: #0A84FF;
	--primary-color-rgba: #1192EE50;


	/* ==> Second color <== */
	
	--second-color:#B949F5;
	--second-color-hover:#BD00FF;

	/* ==> Third color <== */
	
	--first-red: rgba(255, 55, 95, 1);
	--second-red-hover: rgba(255, 45, 85, 1);


	/* Fonts Family */
	--heading-font: 'Poppins', sans-serif;
	--main-font: 'Roboto', sans-serif;

	/* Fonts size */
	--h1-font-size: 2rem;
	--h2-font-size: 1.5rem;
	--h3-font-size: 1.25rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.85rem;

	/* Heights */
	--header-height: 4rem;

	/* Paddings */
	--small-padding: 0.5em;
	--normal-padding: 1em;
	--large-padding: 1.5em;
	--x-large-padding: 2em;

	/* Margins */
	--small-margin: 0.5em;
	--normal-margin: 1em;
	--large-margin: 1.5em;
	--x-large-margin: 2em;

	/* Border-radius */
	--border-radius: 0.625em;

	/* Z-index */
	--z-index300: 9999;

	/* grid gaps */
	--small-gap: 0.5rem;
	--normal-gap: 1rem;
	--large-gap: 1.5rem;
	--x-large-gap: 2rem;

	/* Box-shadow */
	--box-shadow: 5px 0 15px rgb(0 0 0 /0.2);
	--box-shadow-second: 0px 4px 40px rgba(0, 0, 0, 0.15);

	/* Transition */
	--transition: color 0.1s, background-color 0.2s;
}

@media screen and (min-width: 1024px ) {
	body {
		/* Fonts size */
		--h1-font-size: 2.5rem;
		--h2-font-size: 1.75rem;
		--h3-font-size: 1.50rem;
		--h4-font-size: 1.20rem;
		--normal-font-size: 1.1rem;
		--small-font-size: .95rem;

		/* Heights */
		--header-height: 4.5rem;
	}
}

* {
	scroll-behavior: smooth;
}
*,
*::after,
*::before{
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
}
html {
	line-height:1.6;
	font-size: 16px;
}
h1 { font-weight: 700; font-family: var(--heading-font);}
h2 { font-weight: 700; }

img {
	max-width:100%;
	border-style:none;
	display:block
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin:0;
	min-height: 100vh;
	font-family:var(--main-font);
	font-size: var(--normal-font-size);
	font-weight: 400;
	color: var(--text-color);
	background-image: linear-gradient(0deg, rgba(28, 28, 30, 0.9), rgba(38, 38, 38, 0.9)),url('./../assets/image/blackjack.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	max-width: var(--large-desktop-width);
	margin-left: auto;
	margin-right: auto;
}

/* Estilos generales */
.header,
.main,
.footer {
	padding: 0 var(--small-padding);
}

/* Header */
.header {
	box-shadow: var(--box-shadow-second);
}
.header__content {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/* Logotipo */
.logotipo {}
.logotipo__link {
	display: block;
	text-decoration: none;
	transition: height .3s;
	height: calc( var(--header-height) - 10px);
	overflow: hidden;
}
.logotipo__image {
	height: 100%;
}

/* Contactos */
.contact {
	padding: var(--small-padding) 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--small-gap);
}
.contact__link {
	display: inline-block;
	text-decoration: none;
	border-radius: 50%;
	border: 1px solid transparent;
	padding: var(--small-padding);
	transition: border .3s;
	box-shadow: var(--box-shadow);
}
.contact__link:hover {
	border: 1px solid var(--second-color);
}
.contact__image {
	height: 28px;
	width: 28px;
}
.contact__link:last-child .contact__image {
	filter: invert(1);
}


/* Main */
.main {
	padding: var(--normal-padding) 0;
}
.main__content {
	display: grid;
	grid-template-rows: auto 1fr;
}
.main__header {
	padding: var(--normal-padding);
	text-align: center;
}
.title {
	margin: 0;
	font-size: var(--h1-font-size);
	color: var(--title-color);
}

/* blackjack */
.blackjack {
	height: 100%;
}
.blackjack__header {
	/* background-color: gray; */
	padding: var(--small-padding) 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--normal-gap);
}
.blackjack__body {
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.blackjack__player {}
.blackjack__name {
	padding: var(--normal-padding) 0;
	text-align: center;
}
.blackjack__subtitle {
	margin: 0;
	font-size: var(--h2-font-size);
	font-weight: 700;
}

.blackjack__card {
	height: 120px;
}
.blackjack__image {
	position: relative;
	display: inline-block;
	height: 120px;
	margin-left: -30px;
}

/* Buttons */
.button {
	border: none;
	outline: none;
	cursor: pointer;
	padding: var(--small-padding) var(--normal-padding);
	font-size: var(--normal-font-size);
	font-weight: 700;
	font-family: var(--main-font);
	border-radius: var(--border-radius);
	color: var(--text-color);
	transition: opacity .3s;
	box-shadow: var(--box-shadow-second);
	text-transform: capitalize;
}
.button-new {
	background-color: var(--second-color);
}
.button-new:hover {
	background-color: var(--second-color-hover);
}
.button-primary {
	background-color: var(--primary-color);
}
.button-primary:hover {
	background-color: var(--primary-color-hover);
}
.button-danger {
	background-color: var(--first-red);
}
.button-danger:hover {
	background-color: var(--second-red-hover);
}
.button-disabled {
	opacity: .8;
}

/* Modal */
.blackjack-modal {
	position: fixed;
	bottom: 120px;
	z-index: var(--z-index300);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: calc(60vh - var(--header-height) );
	transform: translateY(150%);
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
}
.blackjack-modal--active {
	transform: translateY(0);
}
.blackjack-modal__content {
	min-width: 320px;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--normal-padding);
	background-color: var(--grey-500);
	transition: min-width .9s;
	text-align: center;
	border-radius: var(--border-radius);
}
.blackjack-modal__icon {
	height: 32px;
	width: 32px;
}
.blackjack-modal__player {
	margin: 0;
	opacity: .8;
}
.blackjack-modal__text {
	font-size: var(--h2-font-size);
	font-weight: 700;
	color: var(--title-color);
	margin: var(--small-margin) 0;
}

/* Footer */
.footer {
	box-shadow: var(--box-shadow-second);
	margin-top: auto;
}
.footer__content {
	padding: var(--normal-padding);
	text-align: center;
}